<h1>New Movie</h1>
<%= link_to(movies_path, :class => "ui labeled icon button teal") do %>
    <i class="left arrow icon"></i>
        Back
<% end %>
<div class="ui divider"></div>
<div class="main ui container">

    <%= render 'form' %>

</div>