<div class="introduction">
    <h1 class="ui header">Filmci Ana Sayfa
        <div class="sub header">
            Filmci Ana Sayfası
        </div>
    </h1>
</div>
<div class="main ui container">
    <div class="ui internally celled grid">
    <% @movies.each do |movie| %>
        <div class="row">
            <div class="three wide column">
                <img src="<%= movie.image_url %>">
            </div>
            <div class="thirteen wide column">
                <h3><%= movie.title %></h3>
                <p><%= movie.description %></p>
            </div>
        </div>
    <% end %>
    </div>
</div>