<div class="introduction">
    <h1 class="ui header">Home Page
        <div class="sub header">
            Filmci Home Page
        </div>
    </h1>
</div>

<div class="main ui container">
    <%= link_to(movies_path, :class => "ui right labeled icon button" ) do %>
    <i class="right arrow icon"></i>
    Listing Movies
    <% end %>
</div>