<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<ul>
  <% @movies.each do |movie| %>
    <li><%= movie.title %>, <%= movie.description %>, <%= movie.director %></li>
  <% end %>
</ul>